@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    direction: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: roboto, sans-serif;
}    

.header-hero-wrapper{
    background-color: #1F2937;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    font-size: 18px;
}

.header-logo{
    height: 50px;
    width: auto;
}

.header-links{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    padding-bottom: 100px;
    margin-left: 325px;
    margin-right: 325px;
}

.hero img {
    height: 200px;
    width:500px;
}

.EAskyler-card {
    align-self: center;
    margin-right: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    border: 2px solid #E5E7EB;
}

.card-wrapper {
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: -50px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882F6;
}

.card-subtext {
    text-align: center;
    margin-top: -15px;
}

.quote-wrapper {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: oblique;
    color: #1F2937;
}

.quote-author {
    font-weight: 600;
    align-self: flex-end;
}

.call-to-action-wrapper {
    margin: 100px;
}

.call-to-action-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding: 50px;
}

.text-and-button {
    display: flex;
    gap:  40px;
}

h3 {
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.call-to-action-text {
    color:#E5E7EB;
    padding: 0;
    margin: 0;
}

.footer-wrapper {
    background-color: #1F2937;
}

.footer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}